SERVER_HOST=127.0.0.1
SERVER_PORT=8000
SERVER_WORKERS=1

DB_POSTGRES_HOST=localhost
DB_POSTGRES_PORT=5432
DB_POSTGRES_NAME=landscape_planner
DB_POSTGRES_USERNAME=landscape_planner
DB_POSTGRES_PASSWORD=landscape_planner
DB_POSTGRES_SCHEMA=public

DB_MAX_POOL_CON=10
DB_POOL_SIZE=5
DB_POOL_OVERFLOW=10
DB_TIMEOUT=30

IS_DB_ECHO_LOG=false
IS_DB_FORCE_ROLLBACK=false
IS_DB_EXPIRE_ON_COMMIT=false

IS_ALLOWED_CREDENTIALS=false